<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->

<style>
@font-face {
	font-family: 'SUITE-Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

#footer {
  font-family: 'SUITE-Regular', Arial, sans-serif;
}

</style>


<!-- Footer -->
<footer id="footer">
	<p class="copyright" style="color: #fff; text-align: center; font-size: 1.1em;">&copy; Yang</p>
</footer>