<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->

<html>
	<head>
		<title>게시판</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<script src="js/main_contents.js"></script>
		
		<!-- 부트스트랩 사용 JavaScript 와 CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
		<!-- jQuery 사용 -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<!-- 날짜 및 시간 처리를 쉽게 하기 위한 JavaScript 라이브러리 -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
		<!-- dataTable 사용 위한 JavaScript 와 CSS -->
		<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
		<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
		<!-- DataTables 확장 플러그인 JavaScript 와 CSS -->
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css"/>
		<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous">

		<style>
		@font-face {
			font-family: 'SUITE-Regular';
			src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
			font-weight: 400;
			font-style: normal;
		}

		h1, h2, h3, h4, h5, h6 {
			font-family: 'SUITE-Regular', Arial, sans-serif;
		}

		body {
			font-family: 'SUITE-Regular', Arial, sans-serif;
		}	

		.register_head_style {
			font-weight: bold;
		}

    /* 제목 하이퍼링크 디자인 없애기 */
    .board_title_style {
      text-decoration: none; 
      color: inherit;
      cursor: pointer; 
    }

		.page-item.active .page-link {
			/* z-index: 3; */
			color: #000000; 
			background-color: #cdb1cb;
			border-color: #fff;
		}

		.dataTables_wrapper .dataTables_paginate .paginate_button {
			padding: 0em 0em;
		}
			
		.dataTables_wrapper:hover .dataTables_paginate:hover .paginate_button:hover {
			border-color: #fff;
		}

    .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current {
			border: 1px solid #b992b7;
			background: #b992b7;
		}	
			
		.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
			border: 1px solid #b992b7;
			background: #b992b7;
		}
			
		.dataTables_wrapper .dataTables_paginate .paginate_button {
			background: #e1d0e0;
			color: #000000;	
		}
			
		.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
			background: #e1d0e0;
			color: #000000;	
		}	
		#main input[type="submit"].danger,
		#main input[type="reset"].danger,
		#main input[type="button"].danger,
		#main button.danger,
		#main .button.danger {
		background-color: #ff6666;
		color: #ffffff !important;
		box-shadow: none;
		}

		#main input[type="submit"].danger:hover,
		#main input[type="reset"].danger:hover,
		#main input[type="button"].danger:hover,
		#main button.danger:hover,
		#main .button.danger:hover {
		background-color: #ff8080;
		}

		#main input[type="submit"].primary,
		#main input[type="reset"].primary,
		#main input[type="button"].primary,
		#main button.primary,
		#main .button.primary {
			background-color: #6666ff;
			color: #ffffff !important;
			box-shadow: none;
		}

		#main input[type="submit"].primary:hover,
		#main input[type="reset"].primary:hover,
		#main input[type="button"].primary:hover,
		#main button.primary:hover,
		#main .button.primary:hover {
			background-color: #8080ff;
		}

		#main input[type="submit"].success,
		#main input[type="reset"].success,
		#main input[type="button"].success,
		#main button.success,
		#main .button.success {
			background-color: #1c975d;
			color: #ffffff !important;
			box-shadow: none;
		}

		#main input[type="submit"].success:hover,
		#main input[type="reset"].success:hover,
		#main input[type="button"].success:hover,
		#main button.success:hover,
		#main .button.success:hover {
			background-color: #20ac6b;
		}
			
		#main input[type="submit"].warning,
		#main input[type="reset"].warning,
		#main input[type="button"].warning,
		#main button.warning,
		#main .button.warning {
			background-color: #ffc107;
			color: #ffffff !important;
			box-shadow: none;
		}

		#main input[type="submit"].warning:hover,
		#main input[type="reset"].warning:hover,
		#main input[type="button"].warning:hover,
		#main button.warning:hover,
		#main .button.warning:hover {
			background-color: #ffcc33;
		}
		</style>
		
		<%-include('../common/headnavbar.ejs')%>


	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<hr>
						<h1 class="register_head_style">게시판</h1>
						<br>
					</header>

				<!-- Main -->
        <div id="main">

          <!-- Get Started -->
            <section class="main special">

              <body>
                <div class="dataTable_body">
                  <table id="board_dataTable" style="width:100%">	
                  </table>	
									
                </div>
								<a class="button warning" onclick="checkAccess('write')">글쓰기</a>
								<a class="button success" onclick="checkAccess('modify')">수정</a>
								<a class="button danger" onclick="checkAccess('delete')">삭제</a>
              </body>

            </section>
        </div>

			<%-include('../common/footer.ejs')%>

			</div>


	</body>

  <script>
    $(document).ready(function () {
      view_dataTable();
    });	
          
    function view_dataTable() {	
      $('.dataTable_body').empty();
          $('.dataTable_body').append("<table id='board_dataTable' style='width: 100%'></table>");
      
      $.ajax({
        url: "board_get",
        type: "POST",
        data: {},
        dataType: "json",
        success: function(result) {
          $('#board_dataTable').DataTable({
            data			    : result, 			    // 데이터값
            responsive		: true, 			      // 반응형 설정
            lengthMenu		: [ 2, 3, 5, 10 ],	// 표시 건수 단위
            displayLength	: 2, 				        // 표시 건수 설정
            // stateSave		: true, 			    // 현재 상태 보존
            scrollX		  	: true, 			      // 가로스크롤
            columnDefs: [
                          { targets: '_all', className: "text-center" }, 
                          { targets: 0, width: "10%" }, // 각 칼럼의 넓이 지정해주기
                          { targets: 1, width: "50%" },
                          { targets: 2, width: "20%" },
                          { targets: 3, width: "20%" } 
                        ],
            columns 		: [
                            { title: "번호", data: "board_no" },
                            { title: "제목", data: "board_title" },
                            { title: "작성자", data: "board_user" },
                            { title: "작성일", data: "board_date" }   
                          ],
            language		: {
                      emptyTable: "데이터가 없습니다.",
                      lengthMenu: "페이지당 _MENU_ 개씩 보기",
                      info: "현재 _START_ - _END_ / _TOTAL_건",
                      infoEmpty: "데이터 없음",
                      infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
                      search: "검색: ",
                      zeroRecords: "일치하는 데이터가 없습니다.",
                      loadingRecords: "로딩중...",
                      processing: "잠시만 기다려 주세요...",
                      paginate: {
                        next: "다음",
                        previous: "이전"
                      }
            }
          }); //--DataTable
          // 제목 누르면 세부 페이지로 이동
          $('#board_dataTable tbody').on('click', 'tr', function() {
            var data = $('#board_dataTable').DataTable().row(this).data();
            window.location.href = '/board_detailed_page?board_no=' + data.board_no; // 상대경로
          });
        }, //--success
        error: function(jqXHR, textStatus, errorThrown) {
          console.error('dataTable 로딩 에러 :: ' + textStatus, errorThrown);
        }
      }); //--ajax
    }; //--view_dataTable

		/*
		<a class="button warning" onclick="board_write()">글쓰기</a>
		<a class="button success" onclick="board_modifh()">수정</a>
		<a class="button danger" onclick="board_delete()">삭제</a>*/

		// 로그인 되어 있는지 확인해서 접근 가능하도록 하기
		function checkAccess(action) {
			if (sessionID && sessionID !== '') {
					// 로그인되어 있음
					if (action === 'write') {
							// 글쓰기 페이지로 이동
							window.location.href = "/board_write";
					} else if (action === 'modify') {
							// 수정 페이지로 이동
							window.location.href = "/modify";
					} else if (action === 'delete') {
							// 삭제 처리
							deleteConfirmation();
					}
			} else {
					// 로그인되어 있지 않음
					alert('로그인 후에 접근할 수 있습니다.');
			}
	}
	
	// 삭제 확인 처리
	function deleteConfirmation() {
			if (confirm('정말로 삭제하시겠습니까?')) {
					// 삭제 처리
			} else {
					// 취소
			}
	}
  </script>

</html>